
.video-review{
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}
@media (max-width:  750px){
  .video-grid {
    grid-template-columns: 1fr  1fr;
  }
}
@media (min-width: 100px){
  .video-grid {
    grid-template-columns: 1fr  1fr 1fr 1fr;
  }
}
.video-grid-info{
  margin-top: 5px;
  grid-template-columns: 50px 1fr;
}
.thumbnail-image{
  width: 250px;
  height: 150px;
  display: inline-block;
  border-radius: 10px;
  
  
}
.channel-profile{
  display: inline-block;
  vertical-align: top;
}
.profile{
  width: 42px;
  height: 43px;
  border-radius: 25px;
}
.video-info{
  width: 230px;
  display: inline-block;
}
.tittle{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}
.author,.subscriber{
  font-size: 12px;
  color:rgb(96, 88, 88);
}
.author{
  margin-bottom: 5px;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 9px;
  right: 5px;
  font-size: 13px;
  font-family: Roboto,Arial;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}
.thumbnail{
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
}